<a href="https://colab.research.google.com/github/PradipNichite/Youtube-Tutorials/blob/main/Amazon_Comprehend.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install boto3

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: boto3 in /usr/local/lib/python3.7/dist-packages (1.26.16)
Requirement already satisfied: jmespath<2.0.0,>=0.7.1 in /usr/local/lib/python3.7/dist-packages (from boto3) (1.0.1)
Requirement already satisfied: botocore<1.30.0,>=1.29.16 in /usr/local/lib/python3.7/dist-packages (from boto3) (1.29.16)
Requirement already satisfied: s3transfer<0.7.0,>=0.6.0 in /usr/local/lib/python3.7/dist-packages (from boto3) (0.6.0)
Requirement already satisfied: urllib3<1.27,>=1.25.4 in /usr/local/lib/python3.7/dist-packages (from botocore<1.30.0,>=1.29.16->boto3) (1.26.13)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /usr/local/lib/python3.7/dist-packages (from botocore<1.30.0,>=1.29.16->boto3) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil<3.0.0,>=2.1->botocore<1.30.0,>=1.29.16->boto3) (1.15.0)

###Boto3 Client (Comprehend)

https://boto3.amazonaws.com/v1/documentation/api/latest/reference/services/comprehend.html

In [2]:
import boto3
client = boto3.client('comprehend',region_name='us-east-1',aws_access_key_id='',aws_secret_access_key='')

In [3]:
client

###Sentiment

In [4]:
text = """Hawthorne wrote a masterful work of historical fiction incorporating an examination of guilt, revenge and suffering in the context of Puritan Salem. Here is a book that speaks to any age about timeless themes. The Scarlet Letter is one of those books that may have force fed to one during grade school but revisited from the perspective of adulthood it is a very fine example of great writing from a true American master."""

client.detect_sentiment(Text=text, LanguageCode='en')

{'Sentiment': 'POSITIVE',
 'SentimentScore': {'Positive': 0.9966793060302734,
  'Negative': 6.251714512472972e-05,
  'Neutral': 0.0031647798605263233,
  'Mixed': 9.345235594082624e-05},
 'ResponseMetadata': {'RequestId': '434d326c-ed97-4828-adfc-8cc7d347cb75',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amzn-requestid': '434d326c-ed97-4828-adfc-8cc7d347cb75',
   'content-type': 'application/x-amz-json-1.1',
   'content-length': '166',
   'date': 'Sat, 26 Nov 2022 12:11:45 GMT'},
  'RetryAttempts': 0}}

###Dominant Language

In [5]:
text = "Fuel Prices Latest Updates: इंटरनेशनल मार्केट में क्रूड ऑयल के रेट में उतार-चढ़ाव के बीच भारतीय तेल कंपनियों ने आज, 26 नवंबर को भी पेट्रोल-डीजल की कीम"
response = client.detect_dominant_language(Text = text)
response

{'Languages': [{'LanguageCode': 'hi', 'Score': 0.9900373220443726}],
 'ResponseMetadata': {'RequestId': '4f3478d6-c052-4434-9861-44920b143d76',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amzn-requestid': '4f3478d6-c052-4434-9861-44920b143d76',
   'content-type': 'application/x-amz-json-1.1',
   'content-length': '64',
   'date': 'Sat, 26 Nov 2022 12:12:53 GMT'},
  'RetryAttempts': 0}}

The winter season is here. And no matter, how much we look forward to the good parts of the season, with the pollution levels rising in the Delhi NCR region post-Diwali, it has become a severe concern for the people. Speaking to HT Lifestyle, Dr Anupam Biswas, Consultant – Endocrinology, Fortis Hospital Noida said, "With the rise in air pollution, there has been an exacerbation of lung diseases such as Asthma and Chronic obstructive pulmonary disease (COPD). Patients with diabetes mellitus and obesity are more prone to such exacerbations and the consequent development of serious lung infections such as pneumonia.

https://www.hindustantimes.com/lifestyle/health/diabetes-tips-to-survive-winter-pollution-for-diabetic-and-asthma-patients-101669447146084.html

###Entities

In [6]:
text = """The winter season is here. And no matter, how much we look forward to the good parts of the season, with the pollution levels rising in the Delhi NCR region post-Diwali, it has become a severe concern for the people. Speaking to HT Lifestyle, Dr Anupam Biswas, Consultant – Endocrinology, Fortis Hospital Noida said, "With the rise in air pollution, there has been an exacerbation of lung diseases such as Asthma and Chronic obstructive pulmonary disease (COPD). Patients with diabetes mellitus and obesity are more prone to such exacerbations and the consequent development of serious lung infections such as pneumonia."""
response = client.detect_entities(Text=text, LanguageCode='en')
response

{'Entities': [{'Score': 0.9841204881668091,
   'Type': 'LOCATION',
   'Text': 'Delhi NCR',
   'BeginOffset': 140,
   'EndOffset': 149},
  {'Score': 0.6661772131919861,
   'Type': 'EVENT',
   'Text': 'Diwali',
   'BeginOffset': 162,
   'EndOffset': 168},
  {'Score': 0.9804009795188904,
   'Type': 'ORGANIZATION',
   'Text': 'HT Lifestyle',
   'BeginOffset': 229,
   'EndOffset': 241},
  {'Score': 0.936894416809082,
   'Type': 'PERSON',
   'Text': 'Dr',
   'BeginOffset': 243,
   'EndOffset': 245},
  {'Score': 0.9989443421363831,
   'Type': 'PERSON',
   'Text': 'Anupam Biswas',
   'BeginOffset': 246,
   'EndOffset': 259},
  {'Score': 0.796907365322113,
   'Type': 'ORGANIZATION',
   'Text': 'Fortis Hospital Noida',
   'BeginOffset': 289,
   'EndOffset': 310},
  {'Score': 0.9672803282737732,
   'Type': 'OTHER',
   'Text': 'Asthma',
   'BeginOffset': 406,
   'EndOffset': 412},
  {'Score': 0.9298854470252991,
   'Type': 'OTHER',
   'Text': 'Chronic obstructive pulmonary disease',
   'BeginOffset': 417,
   'EndOffset': 454},
  {'Score': 0.8126714825630188,
   'Type': 'OTHER',
   'Text': 'COPD',
   'BeginOffset': 456,
   'EndOffset': 460},
  {'Score': 0.6474372148513794,
   'Type': 'OTHER',
   'Text': 'diabetes',
   'BeginOffset': 477,
   'EndOffset': 485}],
 'ResponseMetadata': {'RequestId': 'e68d84ba-96fd-43a1-b20f-6589b3e22779',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amzn-requestid': 'e68d84ba-96fd-43a1-b20f-6589b3e22779',
   'content-type': 'application/x-amz-json-1.1',
   'content-length': '1029',
   'date': 'Sat, 26 Nov 2022 12:14:10 GMT'},
  'RetryAttempts': 0}}

In [7]:
import pandas as pd

In [8]:
pd.DataFrame(response['Entities'])

,Score,Type,Text,BeginOffset,EndOffset
0,0.984120,LOCATION,Delhi NCR,140,149
1,0.666177,EVENT,Diwali,162,168
2,0.980401,ORGANIZATION,HT Lifestyle,229,241
3,0.936894,PERSON,Dr,243,245
4,0.998944,PERSON,Anupam Biswas,246,259
5,0.796907,ORGANIZATION,Fortis Hospital Noida,289,310
6,0.967280,OTHER,Asthma,406,412
7,0.929885,OTHER,Chronic obstructive pulmonary disease,417,454
8,0.812671,OTHER,COPD,456,460
9,0.647437,OTHER,diabetes,477,485

###Key Phrases

In [9]:
response = client.detect_key_phrases(Text=text, LanguageCode='en')
response

{'KeyPhrases': [{'Score': 0.9993047118186951,
   'Text': 'The winter season',
   'BeginOffset': 0,
   'EndOffset': 17},
  {'Score': 0.7396022081375122,
   'Text': 'matter',
   'BeginOffset': 34,
   'EndOffset': 40},
  {'Score': 0.9997528195381165,
   'Text': 'the good parts',
   'BeginOffset': 70,
   'EndOffset': 84},
  {'Score': 0.9999675750732422,
   'Text': 'the season',
   'BeginOffset': 88,
   'EndOffset': 98},
  {'Score': 0.998683512210846,
   'Text': 'the pollution levels',
   'BeginOffset': 105,
   'EndOffset': 125},
  {'Score': 0.997676432132721,
   'Text': 'the Delhi NCR region post-Diwali',
   'BeginOffset': 136,
   'EndOffset': 168},
  {'Score': 0.999972939491272,
   'Text': 'a severe concern',
   'BeginOffset': 184,
   'EndOffset': 200},
  {'Score': 0.9999825358390808,
   'Text': 'the people',
   'BeginOffset': 205,
   'EndOffset': 215},
  {'Score': 0.9988764524459839,
   'Text': 'HT Lifestyle',
   'BeginOffset': 229,
   'EndOffset': 241},
  {'Score': 0.9994760751724243,
   'Text': 'Dr Anupam Biswas',
   'BeginOffset': 243,
   'EndOffset': 259},
  {'Score': 0.9985106587409973,
   'Text': 'Consultant – Endocrinology',
   'BeginOffset': 261,
   'EndOffset': 287},
  {'Score': 0.9962289333343506,
   'Text': 'Fortis Hospital Noida',
   'BeginOffset': 289,
   'EndOffset': 310},
  {'Score': 0.9999045729637146,
   'Text': 'the rise',
   'BeginOffset': 323,
   'EndOffset': 331},
  {'Score': 0.9974636435508728,
   'Text': 'air pollution',
   'BeginOffset': 335,
   'EndOffset': 348},
  {'Score': 0.9999194145202637,
   'Text': 'an exacerbation',
   'BeginOffset': 365,
   'EndOffset': 380},
  {'Score': 0.9998251795768738,
   'Text': 'lung diseases',
   'BeginOffset': 384,
   'EndOffset': 397},
  {'Score': 0.7206777334213257,
   'Text': 'Asthma and',
   'BeginOffset': 406,
   'EndOffset': 416},
  {'Score': 0.8483825325965881,
   'Text': 'Chronic obstructive pulmonary disease',
   'BeginOffset': 417,
   'EndOffset': 454},
  {'Score': 0.999748170375824,
   'Text': 'COPD',
   'BeginOffset': 456,
   'EndOffset': 460},
  {'Score': 0.999882698059082,
   'Text': 'Patients',
   'BeginOffset': 463,
   'EndOffset': 471},
  {'Score': 0.9983280897140503,
   'Text': 'diabetes mellitus',
   'BeginOffset': 477,
   'EndOffset': 494},
  {'Score': 0.7446704506874084,
   'Text': 'obesity',
   'BeginOffset': 499,
   'EndOffset': 506},
  {'Score': 0.9916185736656189,
   'Text': 'such exacerbations',
   'BeginOffset': 525,
   'EndOffset': 543},
  {'Score': 0.999846339225769,
   'Text': 'the consequent development',
   'BeginOffset': 548,
   'EndOffset': 574},
  {'Score': 0.9999037384986877,
   'Text': 'serious lung infections',
   'BeginOffset': 578,
   'EndOffset': 601},
  {'Score': 0.9998376369476318,
   'Text': 'pneumonia',
   'BeginOffset': 610,
   'EndOffset': 619}],
 'ResponseMetadata': {'RequestId': '079137a8-47b2-48ba-8d85-06253ca72e0b',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amzn-requestid': '079137a8-47b2-48ba-8d85-06253ca72e0b',
   'content-type': 'application/x-amz-json-1.1',
   'content-length': '2309',
   'date': 'Sat, 26 Nov 2022 12:17:28 GMT'},
  'RetryAttempts': 0}}

In [10]:
pd.DataFrame(response['KeyPhrases'])

       Score                                   Text  BeginOffset  EndOffset
0   0.999305                      The winter season            0         17
1   0.739602                                 matter           34         40
2   0.999753                         the good parts           70         84
3   0.999968                             the season           88         98
4   0.998684                   the pollution levels          105        125
5   0.997676       the Delhi NCR region post-Diwali          136        168
6   0.999973                       a severe concern          184        200
7   0.999983                             the people          205        215
8   0.998876                           HT Lifestyle          229        241
9   0.999476                       Dr Anupam Biswas          243        259
10  0.998511             Consultant – Endocrinology          261        287
11  0.996229                  Fortis Hospital Noida          289        310
12  0.999905                               the rise          323        331
13  0.997464                          air pollution          335        348
14  0.999919                        an exacerbation          365        380
15  0.999825                          lung diseases          384        397
16  0.720678                             Asthma and          406        416
17  0.848383  Chronic obstructive pulmonary disease          417        454
18  0.999748                                   COPD          456        460
19  0.999883                               Patients          463        471
20  0.998328                      diabetes mellitus          477        494
21  0.744670                                obesity          499        506
22  0.991619                     such exacerbations          525        543
23  0.999846             the consequent development          548        574
24  0.999904                serious lung infections          578        601
25  0.999838                              pneumonia          610        619

Personal Identifiable Information (PII) is defined as: Any representation of information that permits the identity of an individual to whom the information applies to be reasonably inferred by either direct or indirect means.

In [11]:
response = client.detect_pii_entities(Text=text, LanguageCode='en')
pd.DataFrame(response['Entities'])

      Score     Type  BeginOffset  EndOffset
0  0.999825  ADDRESS          140        149
1  0.999888     NAME          246        259

In [12]:
text[140:149]

'Delhi NCR'

In [13]:
response

{'Entities': [{'Score': 0.9998247623443604,
   'Type': 'ADDRESS',
   'BeginOffset': 140,
   'EndOffset': 149},
  {'Score': 0.9998877048492432,
   'Type': 'NAME',
   'BeginOffset': 246,
   'EndOffset': 259}],
 'ResponseMetadata': {'RequestId': '2a1ac5a2-d4b7-463c-8352-b6f3f5c65ef3',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amzn-requestid': '2a1ac5a2-d4b7-463c-8352-b6f3f5c65ef3',
   'content-type': 'application/x-amz-json-1.1',
   'content-length': '171',
   'date': 'Sat, 26 Nov 2022 12:19:30 GMT'},
  'RetryAttempts': 0}}

In [ ]:
text

In [14]:
for entity in response['Entities']:
  entity_type = entity['Type']
  entity_value = text[int(entity['BeginOffset']):int(entity['EndOffset'])]
  print(f"Entity Type: {entity_type} , Entity Value: {entity_value}")

Entity Type: ADDRESS , Entity Value: Delhi NCR
Entity Type: NAME , Entity Value: Anupam Biswas